<h1>Edit article</h1>

<% if @article.errors.any? %>
  <h2>The following errors prevented the article from being saved</h2>
  <ul>
    <%@article.errors.full_messages.each do |msg| %>
      <li><%=msg %></li>
    <%end %>
  </ul>
<%end %>

<!--To prefill the information of description according to title given by user -->
<%= form_with(model: @article, local: true) do |f| %>

  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </p>

  <p>
    <!--    I think f.submit call the update method in article_controller because of form_with helper-->
    <%= f.submit %>
  </p>

<%end %>