<h1>Articles listing page</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.title %></td>
        <td><%= article.description %></td>
<!--        below code is accomplish the delete data-->
<!--        here rails is smart enough that means article_path(article) return the id of the article-->
<!--        Here 'delete' is a verb. delete is used because the url of 'show' and 'delete' is same due to this we have to specify very here.-->
        <td><%=link_to 'Show', article_path(article) %></td>
        <td><%= link_to 'Edit', edit_article_path(article) %></td>
<!--        Add confirmation message before delete the article-->
        <td><%= link_to 'Delete', article_path(article), method: :delete, data: { Confirm: "Are you sure?"} %></td>
      </tr>
      <%end %>
  </tbody>
</table>

<p>
  <%= link_to 'Create new article', new_article_path %>
</p>
